.root {
  padding: 0 var(--poke-spacing-4);

  header {
    display: flex;
    justify-content: space-between;
    padding: var(--poke-spacing-4) 0;
  }
  
  nav {
    margin-bottom: var(--poke-spacing-2);
  }
}
